body {
  background-color: #eeeeee;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  color: #76abae;
}

img {
  width: 100px;
  border-radius: 50%;
}

a {
  text-decoration: none;
}

footer {
  margin-bottom: 50px;
}

.name,
.profile,
.skills,
.contact {
  margin-top: 400px;
  margin-bottom: 400px;
}

.button {
  background-color: #eeeeee;
  color: #76abae;
  border-radius: 3px;
  padding: 5px;
  border: none;
}

:hover.button {
  background-color: #76abae;
}
